$width_base: 100%;
$height_base: 100%;
$color_base: #fff;
body {
  background-color: #e9e9e9;
  background-image: radial-gradient(circle, #3f9cba 0%, #153346 80%);
}
.loader,
.loader_bg {
  width: $width_base;
  height: $height_base;
}
.loader_bg {
  position: fixed;
  z-index: 9999999;
  background-color: $color_base;
  margin-top: -30%;
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}

